extends layout/layout

block scripts 
  script(type='text/javascript' src='/static/js/jquery-3.2.1.min.js')
  script(type='text/javascript' src='/static/js/jquery.fancybox.v3.5.7.min.js')
  script(type='text/javascript' src='/static/js/owl.carousel.js')
  script(type='text/javascript' src='/static/js/jquery.mask.min.js')
  script(type='text/javascript').
    window.onload = windowload;
    window.onresize = AppendScript;
    function windowload() {
    AppendScript();
    }
    function AppendScript() {
    if (window.innerWidth >= 767) {
    Include('/static/js/scripts-desktop.js', 'on')
    } else {
    Include('/static/js/scripts-mobile.js', 'on')
    }
    }
    function Include(filename, status) {
    var head = document.getElementsByTagName('head')[0];
    if (status == 'on') {
    script = document.createElement('script');
    script.src = filename;
    script.type = 'text/javascript';
    head.appendChild(script)
    } else if (status == 'off') {
    var scripts = head.getElementsByTagName('script');
    if (scripts.length > 0) {
    head.removeChild(scripts[1]);
    }
    }
    }
  script(type='text/javascript').
    // This url dictionary is used in js scripts instead of direct links.
    const URLS = {
    static: "/static/",
    cart: "/cart/",
    register: "/account/register/",
    }
  script(src='/static/js/notify.min.js')
  script(src='/static/js/ajax_setup.js')
  script(src='/static/catalog/js/search.js')
  script(src='/static/js/common.js')
  script(src='/static/js/contentSelectionDisable.js')
  script(src='/static/commerce/js/cart.js')
  script(src='/static/catalog/js/catalog.js')
  script.
    var BNR_URLS = {
    'inc_views': '/bnrs/ajax/view-cnt-incr',
    'inc_clicks': '/bnrs/ajax/clck-cnt-incr'
    };
  script(src='/static/banners/js/bnrs.js')
  script(type='text/javascript' src='/static/crm/js/crm_forms.js')
  script(src='/static/addresses/js/addresses_yamap.js')
  script(src='/static/js/frontpage.js')
  script(type='text/javascript' src='/static/subscription/js/subscription.js')
  script(src='/static/js/scripts.js')
  
block content
  section.home-banner.conditional-section
    .owl-carousel
      //slide
      .home-banner__slide
        .home-banner__slide-container.container
          //Если нужен фон, добавляется модификатор home-banner__slide-content_bg
          //Если вертикальное выравнивание по правой стороне, добавляется модификатор home-banner__slide-content_right
          .home-banner__slide-content
            h3 Заголовок слайда
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit sunt ipsum repellat.
            a(href="#").btn.btn--main-min Кнопка
        //image
        .image.image_cover
          img(src=href+'/img/image 35.jpg', alt="image")

      //slide
      .home-banner__slide
        .home-banner__slide-container.container
          //Если нужен фон, добавляется модификатор home-banner__slide-content_bg
          //Если вертикальное выравнивание по правой стороне, добавляется модификатор home-banner__slide-content_right
          .home-banner__slide-content.home-banner__slide-content_bg 
            h3 Заголовок слайда
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit sunt ipsum repellat.
            a(href="#").btn.btn--main-min Кнопка
        //image
        .image.image_cover
          img(src=href+'/img/image 35.jpg', alt="image")

      //slide
      .home-banner__slide
        .home-banner__slide-container.container
          //Если нужен фон, добавляется модификатор home-banner__slide-content_bg
          //Если вертикальное выравнивание по правой стороне, добавляется модификатор home-banner__slide-content_right
          .home-banner__slide-content.home-banner__slide-content_right
            h3 Заголовок слайда
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit sunt ipsum repellat.
            a(href="#").btn.btn--main-min Кнопка
        //image
        .image.image_cover
          img(src=href+'/img/image 35.jpg', alt="image")

      //slide
      .home-banner__slide
        .home-banner__slide-container.container
          //Если нужен фон, добавляется модификатор home-banner__slide-content_bg
          //Если вертикальное выравнивание по правой стороне, добавляется модификатор home-banner__slide-content_right
          .home-banner__slide-content.home-banner__slide-content_bg.home-banner__slide-content_right
            h3 Заголовок слайда
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit sunt ipsum repellat.
            a(href="#").btn.btn--main-min Кнопка
        //image
        .image.image_cover
          img(src=href+'/img/image 35.jpg', alt="image")

  section.conditional-section
    .container
      .welcome
        .welcome__side 
          #catalog-menu.catalog-side.mobile-hide
            span.catalog-side__title
              span.icon
                svg(width='16' height='14' viewBox='0 0 16 14' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(d='M0 0V2H16V0H0ZM0 8H16V6H0V8ZM0 14H16V12H0V14Z' fill='currentColor')
              | Каталог продукции
            .catalog-side__content
              ul

        .welcome__content
          //тот же слайдер что и для wide мода
          .home-banner
            .owl-carousel
              //slide
              .home-banner__slide
                .home-banner__slide-container.container
                  //Если нужен фон, добавляется модификатор home-banner__slide-content_bg
                  //Если вертикальное выравнивание по правой стороне, добавляется модификатор home-banner__slide-content_right
                  .home-banner__slide-content
                    h3 Заголовок слайда
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit sunt ipsum repellat.
                    a(href="#").btn.btn--main-min Кнопка
                //image
                .image.image_cover
                  img(src=href+'/img/image 35.jpg', alt="image")

              //slide
              .home-banner__slide
                .home-banner__slide-container.container
                  //Если нужен фон, добавляется модификатор home-banner__slide-content_bg
                  //Если вертикальное выравнивание по правой стороне, добавляется модификатор home-banner__slide-content_right
                  .home-banner__slide-content.home-banner__slide-content_bg 
                    h3 Заголовок слайда
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit sunt ipsum repellat.
                    a(href="#").btn.btn--main-min Кнопка
                //image
                .image.image_cover
                  img(src=href+'/img/image 35.jpg', alt="image")

              //slide
              .home-banner__slide
                .home-banner__slide-container.container
                  //Если нужен фон, добавляется модификатор home-banner__slide-content_bg
                  //Если вертикальное выравнивание по правой стороне, добавляется модификатор home-banner__slide-content_right
                  .home-banner__slide-content.home-banner__slide-content_right
                    h3 Заголовок слайда
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit sunt ipsum repellat.
                    a(href="#").btn.btn--main-min Кнопка
                //image
                .image.image_cover
                  img(src=href+'/img/image 35.jpg', alt="image")

              //slide
              .home-banner__slide
                .home-banner__slide-container.container
                  //Если нужен фон, добавляется модификатор home-banner__slide-content_bg
                  //Если вертикальное выравнивание по правой стороне, добавляется модификатор home-banner__slide-content_right
                  .home-banner__slide-content.home-banner__slide-content_bg.home-banner__slide-content_right
                    h3 Заголовок слайда
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit sunt ipsum repellat.
                    a(href="#").btn.btn--main-min Кнопка
                //image
                .image.image_cover
                  img(src=href+'/img/image 35.jpg', alt="image")

                  //.main-slider
                    .owl-carousel(data-autoplay-timeout='5')
                      .item
                        .slide-img
                          img(src=href+'/img/image 35.jpg' alt='Баннер 1')
                        .home-banner__slide-container.container
                          .home-banner__slide-content.home-banner__slide-content_bg
                            h3 Заголовок слайда
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit sunt ipsum repellat.
                            a.btn.btn--main-min(href='#' target='_blank') Кнопка

  section.conditional-section
    .container
      h2.mb-25 Кастомные стрелки для слайдера
      .slider-constructor(data-slides='1' data-md-slides='2' data-lg-slides='3' data-adaptive-height)
        //непосредственно в слайдере перед массивом слайдов img или inline svg
        img.custom-icon-left(src=href+"/img/icons/icon-plus.svg", alt="icon")
        svg.custom-icon-right(width='23' height='23' viewBox='0 0 23 23' fill='red' xmlns='http://www.w3.org/2000/svg')
          rect(x='0.121094' y='20' width='28' height='3' rx='1' transform='rotate(-45 0.121094 20)')
          rect(x='2.12109' width='28' height='3' rx='1' transform='rotate(45 2.12109 0)')
        
        +content-placeholder()
        +content-placeholder()
        +content-placeholder()
        +content-placeholder()                

  section.conditional-section
    .container
      .d-md-grid.grid-columns-md-3.grid-columns-lg-4.grid-columns-xl-5.column-gap-grid
        .grid-span-1
        .grid-span-md-2.grid-span-lg-3.grid-span-xl-4 
          h2.mb-20.mb-sm-25 Превью 
            span.text-color-accent 1.0 
            | с баннерами
      .d-md-grid.grid-columns-md-3.grid-columns-lg-4.grid-columns-xl-5.column-gap-grid
        .grid-span-md-2.grid-span-lg-3.grid-span-xl-4.order-md-2
          //слайдер
          .slider-constructor(data-slides='1' data-rows='2' data-sm-slides='2' data-sm-rows='1' data-lg-slides='3' data-xl-slides='4')
            +product-card-1()
            +product-card-1()
            +product-card-1()
            +product-card-1()
            +product-card-1()
            +product-card-1()
            +product-card-1()
            +product-card-1()
            +product-card-1()
            +product-card-1()
        
        .grid-span-1.mt-40.mt-md-0
          //слайдер баннеров
          .slider-constructor.banners-slider.flex-md-column.gap-md-20(data-slides='2' data-no-arrows data-md-mounted='false')
            +content-standard-box({
              image: true,
              imageSrc: 'https://vagonka-brus-doska.ru/media/bnrs/images/%D0%B1%D0%B0%D0%BD%D0%BD%D0%B5%D1%80_%D0%B1%D0%BE%D0%BA%D0%BE%D0%B2%D0%BE%D0%B91_1.jpg'
            })

  section.conditional-section
    .container
      .d-md-grid.grid-columns-md-3.grid-columns-lg-4.grid-columns-xl-5.column-gap-grid
        .grid-span-1
        .grid-span-md-2.grid-span-lg-3.grid-span-xl-4 
          h2.mb-20.mb-sm-25 Превью 
            span.text-color-accent 1.0 
            | с баннерами

      .d-md-grid.grid-columns-md-3.grid-columns-lg-4.grid-columns-xl-5.column-gap-grid
        .grid-span-md-2.grid-span-lg-3.grid-span-xl-4.order-md-2
          //слайдер
          .slider-constructor(data-slides='1' data-rows='2' data-sm-slides='2' data-sm-rows='2' data-lg-slides='3' data-xl-slides='4')
            +product-card-1()
            +product-card-1()
            +product-card-1()
            +product-card-1()
            +product-card-1()
            +product-card-1()
            +product-card-1()
            +product-card-1()
            +product-card-1()
            +product-card-1()
            +product-card-1()
            +product-card-1()
            +product-card-1()
            +product-card-1()
        
        .grid-span-1.mt-40.mt-md-0
          //слайдер баннеров
          .slider-constructor.banners-slider.flex-md-column.gap-md-20(data-slides='2' data-no-arrows data-md-mounted='false')
            +content-standard-box({
              image: true,
              imageSrc: 'https://vagonka-brus-doska.ru/media/bnrs/images/%D0%B1%D0%B0%D0%BD%D0%BD%D0%B5%D1%80_%D0%B1%D0%BE%D0%BA%D0%BE%D0%B2%D0%BE%D0%B91_1.jpg'
            })
            +content-standard-box({
              image: true,
              imageSrc: 'https://vagonka-brus-doska.ru/media/bnrs/images/%D0%B1%D0%B0%D0%BD%D0%BD%D0%B5%D1%80_%D0%B1%D0%BE%D0%BA%D0%BE%D0%B2%D0%BE%D0%B91_1.jpg'
            })

  section.conditional-section.conditional-section_bg(style=`background-image:url("${href}/img/dd.jpg");`)
    .container
      
      .d-md-grid.grid-columns-md-3.grid-columns-lg-4.grid-columns-xl-5.column-gap-grid
        .grid-span-1
        .grid-span-md-2.grid-span-lg-3.grid-span-xl-4 
          h2.mb-20.mb-sm-25 Превью 
            span.text-color-accent 2.0 
            | с баннерами

      .d-md-grid.grid-columns-md-3.grid-columns-lg-4.grid-columns-xl-5.column-gap-grid
        .grid-span-md-2.grid-span-lg-3.grid-span-xl-4.order-md-2
          //слайдер товаров
          .slider-constructor(data-slides='2' data-sm-rows='1' data-lg-slides='3' data-xl-slides='4')
            +product-card-v2()
            +product-card-v2({
              style: '2'
            })
            +product-card-v2({
              style: '3'
            })
            +product-card-v2()
            +product-card-v2({
              style: '2'
            })
            +product-card-v2({
              style: '3'
            })
        
        .grid-span-1.mt-40.mt-md-0
          //слайдер баннеров
          .slider-constructor.banners-slider.flex-md-column.gap-md-20(data-slides='2' data-no-arrows data-md-mounted='false')
            +content-standard-box({
              image: true,
              imageSrc: 'https://vagonka-brus-doska.ru/media/bnrs/images/%D0%B1%D0%B0%D0%BD%D0%BD%D0%B5%D1%80_%D0%B1%D0%BE%D0%BA%D0%BE%D0%B2%D0%BE%D0%B91_1.jpg'
            })

  section.conditional-section
    .container
      
      .d-md-grid.grid-columns-md-3.grid-columns-lg-4.grid-columns-xl-5.column-gap-grid
        .grid-span-1
        .grid-span-md-2.grid-span-lg-3.grid-span-xl-4 
          h2.mb-20.mb-sm-25 Превью 
            span.text-color-accent 2.0 
            | с баннерами

      .d-md-grid.grid-columns-md-3.grid-columns-lg-4.grid-columns-xl-5.column-gap-grid
        .grid-span-md-2.grid-span-lg-3.grid-span-xl-4.order-md-2
          //слайдер товаров
          .slider-constructor(data-slides='2' data-sm-rows='2' data-lg-slides='3' data-xl-slides='4')
            +product-card-v2()
            +product-card-v2({
              style: '2'
            })
            +product-card-v2({
              style: '3'
            })
            +product-card-v2()
            +product-card-v2({
              style: '2'
            })
            +product-card-v2({
              style: '3'
            })
            +product-card-v2()
            +product-card-v2({
              style: '2'
            })
            +product-card-v2({
              style: '3'
            })
            +product-card-v2({
              style: '3'
            })
            +product-card-v2()
            +product-card-v2({
              style: '2'
            })
            +product-card-v2({
              style: '2'
            })
        
        .grid-span-1.mt-40.mt-md-0
          //слайдер баннеров
          .slider-constructor.banners-slider.flex-md-column.gap-md-20(data-slides='2' data-no-arrows data-md-mounted='false')
            +content-standard-box({
              image: true,
              imageSrc: 'https://vagonka-brus-doska.ru/media/bnrs/images/%D0%B1%D0%B0%D0%BD%D0%BD%D0%B5%D1%80_%D0%B1%D0%BE%D0%BA%D0%BE%D0%B2%D0%BE%D0%B91_1.jpg'
            })
            +content-standard-box({
              image: true,
              imageSrc: 'https://vagonka-brus-doska.ru/media/bnrs/images/%D0%B1%D0%B0%D0%BD%D0%BD%D0%B5%D1%80_%D0%B1%D0%BE%D0%BA%D0%BE%D0%B2%D0%BE%D0%B91_1.jpg'
            })
             
  section.conditional-section
    .container
      .d-md-grid.grid-columns-md-3.grid-columns-lg-4.grid-columns-xl-5.column-gap-grid
        .grid-span-1
        .grid-span-md-2.grid-span-lg-3.grid-span-xl-4 
          h2.mb-20.mb-sm-25 Превью 
            span.text-color-accent 2.1 
            | с баннерами

      .d-md-grid.grid-columns-md-3.grid-columns-lg-4.grid-columns-xl-5.column-gap-grid
        .grid-span-md-2.grid-span-lg-3.grid-span-xl-4.order-md-2
          //слайдер
          .slider-constructor(data-slides='1' data-rows='2' data-sm-slides='2' data-sm-rows='1' data-lg-slides='3' data-xl-slides='4')
            +product-card-v2({
              type: '2'
            })
            +product-card-v2({
              style: '2',
              type: '2'
            })
            +product-card-v2({
              style: '3',
              type: '2'
            })
            +product-card-v2({
              type: '2'
            })
            +product-card-v2({
              style: '2',
              type: '2'
            })
            +product-card-v2({
              style: '3',
              type: '2'
            })
        
        .grid-span-1.mt-40.mt-md-0
          //слайдер баннеров
          .slider-constructor.banners-slider.flex-md-column.gap-md-20(data-slides='2' data-no-arrows data-md-mounted='false')
            +content-standard-box({
              image: true,
              imageSrc: 'https://vagonka-brus-doska.ru/media/bnrs/images/%D0%B1%D0%B0%D0%BD%D0%BD%D0%B5%D1%80_%D0%B1%D0%BE%D0%BA%D0%BE%D0%B2%D0%BE%D0%B91_1.jpg'
            })

  section.conditional-section
    .container
      .d-md-grid.grid-columns-md-3.grid-columns-lg-4.grid-columns-xl-5.column-gap-grid
        .grid-span-1
        .grid-span-md-2.grid-span-lg-3.grid-span-xl-4 
          h2.mb-20.mb-sm-25 Превью 
            span.text-color-accent 2.1 
            | с баннерами

      .d-md-grid.grid-columns-md-3.grid-columns-lg-4.grid-columns-xl-5.column-gap-grid
        .grid-span-md-2.grid-span-lg-3.grid-span-xl-4.order-md-2
          //слайдер
          .slider-constructor(data-slides='1' data-rows='2' data-sm-slides='2' data-sm-rows='2' data-lg-slides='3' data-xl-slides='4')
            +product-card-v2({
              type: '2'
            })
            +product-card-v2({
              style: '2',
              type: '2'
            })
            +product-card-v2({
              style: '3',
              type: '2'
            })
            +product-card-v2({
              type: '2'
            })
            +product-card-v2({
              style: '2',
              type: '2'
            })
            +product-card-v2({
              style: '3',
              type: '2'
            })
            +product-card-v2({
              type: '2'
            })
            +product-card-v2({
              style: '2',
              type: '2'
            })
            +product-card-v2({
              style: '3',
              type: '2'
            })
            +product-card-v2({
              type: '2'
            })
            +product-card-v2({
              style: '2',
              type: '2'
            })
            +product-card-v2({
              style: '3',
              type: '2'
            })
        
        .grid-span-1.mt-40.mt-md-0
          //слайдер баннеров
          .slider-constructor.banners-slider.flex-md-column.gap-md-20(data-slides='2' data-no-arrows data-md-mounted='false')
            +content-standard-box({
              image: true,
              imageSrc: 'https://vagonka-brus-doska.ru/media/bnrs/images/%D0%B1%D0%B0%D0%BD%D0%BD%D0%B5%D1%80_%D0%B1%D0%BE%D0%BA%D0%BE%D0%B2%D0%BE%D0%B91_1.jpg'
            })
            +content-standard-box({
              image: true,
              imageSrc: 'https://vagonka-brus-doska.ru/media/bnrs/images/%D0%B1%D0%B0%D0%BD%D0%BD%D0%B5%D1%80_%D0%B1%D0%BE%D0%BA%D0%BE%D0%B2%D0%BE%D0%B91_1.jpg'
            })

  section.conditional-section
    .container
      h2.mb-20.mb-sm-25 Превью 
        span.text-color-accent 1.0  
        | без баннеров
      .slider-constructor(data-slides='1' data-rows='2' data-sm-slides='2' data-sm-rows='1' data-md-slides='3' data-lg-slides='4' data-xl-slides='5')
        +product-card-1()
        +product-card-1()
        +product-card-1()
        +product-card-1()
        +product-card-1()
        +product-card-1()
        +product-card-1()
        +product-card-1()
        +product-card-1()

  section.conditional-section
    .container
      h2.mb-20.mb-sm-25 Превью 
        span.text-color-accent 2.0 
        | без баннеров
      .slider-constructor(data-slides='2' data-sm-rows='1' data-md-slides='3' data-lg-slides='4' data-xl-slides='5')
        +product-card-v2()
        +product-card-v2({
          style: '2'
        })
        +product-card-v2({
          style: '3'
        })
        +product-card-v2()
        +product-card-v2({
          style: '2'
        })
        +product-card-v2({
          style: '3'
        })
  
  section.conditional-section
    .container
      h2.mb-20.mb-sm-25 Превью 
        span.text-color-accent 2.1 
        | без баннеров
      .slider-constructor(data-slides='1' data-rows='2' data-sm-slides='2' data-sm-rows='1' data-md-slides='3' data-lg-slides='4' data-xl-slides='5')
        +product-card-v2({
          type: '2'
        })
        +product-card-v2({
          style: '2',
          type: '2'
        })
        +product-card-v2({
          style: '3',
          type: '2'
        })
        +product-card-v2({
          type: '2'
        })
        +product-card-v2({
          style: '2',
          type: '2'
        })
        +product-card-v2({
          style: '3',
          type: '2'
        })
  
  section.conditional-section
    .container
      .welcome  
        .welcome__side
          | aside
        .welcome__content
          //секция
          section.conditional-section
            h2.mb-25 Превью 
              span.text-color-accent 2.1
            .slider-constructor(data-slides='1' data-rows='2' data-sm-slides='2' data-sm-rows='1' data-md-slides='3' data-xl-slides='4')
              +product-card-v2({
                type: '2'
              })
              +product-card-v2({
                style: '2',
                type: '2'
              })
              +product-card-v2({
                style: '3',
                type: '2'
              })
              +product-card-v2({
                type: '2'
              })
              +product-card-v2({
                style: '2',
                type: '2'
              })
              +product-card-v2({
                style: '3',
                type: '2'
              })