header(class=header_style=='landing'?'header_landing':'').header_gray.header_gray-v2.header_rubrikator_gray


  if header_style !== 'landing'
    .header-body
      .container
        .header-body__content
          a(href="/" target="_self")
            img(src=href+'/img/logo.svg' alt='Северная Лесная Компания').yellow-logo
          a.catalog-inner-btn
            .burger-catalog
              .burger
            |                             Каталог товаров
          .header-search.mobile-hide.header-search--inner
            input.search_input(name='q' type='text' autocomplete='off' value='' data-search-url='/catalog/search' placeholder='Введите название, артикул, бренд...')
            button
              svg.icon-svg
                use(xlink:href='#search-icon')
            #search-result-container.header-search-results(style='display:none;')
              a.search-result-item(href='/catalog/product/vagonka-lipa-16-kh-90-17m-sort-ab/')
                img(src="https://vagonka-brus-doska.ru/media/vagonkabrus_cache/5b/94/5b94a9e8281ac988e782e500406b353c.jpg", alt="image").search-result-item__image
                .search-result-item__content
                  span.search-result-item__name Вагонка (липа) 16х90мм 1,7м категория АВ
                  span.search-result-item__cost 106,00 ₽/шт.
              a.search-result-item(href='/catalog/product/vagonka-lipa-16-kh-90-3m-sort-bc/')
                .search-result-item__content
                  span.search-result-item__name Вагонка (липа) 16х90мм 3м категория BC
                  span.search-result-item__cost 193,00 ₽/шт.
              a.search-result-item(href='/catalog/product/vagonka-lipa-16-kh-90-17m-sort-ab/')
                  img(src="https://vagonka-brus-doska.ru/media/vagonkabrus_cache/5b/94/5b94a9e8281ac988e782e500406b353c.jpg", alt="image").search-result-item__image
                  .search-result-item__content
                    span.search-result-item__name Вагонка (липа) 16х90мм 1,7м категория АВ
                    span.search-result-item__cost 106,00 ₽/шт.
              a.search-result-item(href='/catalog/product/vagonka-lipa-16-kh-90-3m-sort-bc/')
                .search-result-item__content
                  span.search-result-item__name Вагонка (липа) 16х90мм 3м категория BC
                  span.search-result-item__cost 193,00 ₽/шт.


          .header-body__content-right__wrapper 
           .header-body__content-links 
            a.header-cart(href='/cart/')
              i.icon
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="25" viewBox="0 0 30 25" fill="none">
                    <path d="M22.5986 12.7959C24.6524 12.5473 26.25 10.8099 26.25 8.70603C26.25 6.43217 24.385 4.58255 22.0932 4.58255C20.0113 4.58255 18.2876 6.11021 17.9879 8.09376L8.63865 6.98185L7.95592 3.03027H4.5V4.5231H6.68702L7.0795 6.79643L7.04785 6.79271L8.84618 16.6457H8.88405L9.10297 17.5335C8.03752 17.7098 7.222 18.6285 7.222 19.7349C7.222 20.9672 8.23245 21.9697 9.47437 21.9697C10.7163 21.9697 11.7268 20.9672 11.7268 19.7349C11.7268 19.4746 11.6794 19.2258 11.5967 18.9935H18.4705C18.3877 19.226 18.3401 19.4749 18.3401 19.7349C18.3401 20.9672 19.3505 21.9697 20.5928 21.9697C21.8345 21.9697 22.845 20.9672 22.845 19.7349C22.845 18.5028 21.8345 17.5006 20.5928 17.5006H10.6435L10.4329 16.6457H21.7074L22.5986 12.7959ZM20.5935 18.9935C21.0053 18.9935 21.3409 19.3261 21.3409 19.7349C21.3409 20.1441 21.0053 20.4769 20.5935 20.4769C20.1809 20.4769 19.8456 20.144 19.8456 19.7349C19.8456 19.3259 20.1812 18.9935 20.5935 18.9935ZM22.0933 6.07567C23.5555 6.07567 24.7453 7.25575 24.7453 8.70626C24.7453 10.1569 23.5555 11.3369 22.0933 11.3369C20.6311 11.3369 19.4418 10.1569 19.4418 8.70626C19.4418 7.25575 20.6311 6.07567 22.0933 6.07567ZM9.4749 20.4769C9.06262 20.4769 8.7273 20.144 8.7273 19.7349C8.7273 19.3259 9.06262 18.9935 9.4749 18.9935C9.88717 18.9935 10.2225 19.3261 10.2225 19.7349C10.2225 20.1441 9.88717 20.4769 9.4749 20.4769ZM20.5091 15.1526H10.1031V15.1529L9.10868 9.7033L8.90378 8.51694L18.0389 9.60353C18.3798 11.12 19.5643 12.3205 21.0769 12.6997L20.5091 15.1526Z" fill="#FF5F00"/>
                    <path d="M22.5 6.81812H21.75V10.606H22.5V6.81812Z" fill="#FF5F00"/>
                    <path d="M24 9.09083V8.33325H20.25V9.09083H24Z" fill="#FF5F00"/>
              span.cart-number 0
            .header-phones.header-phones_ml10
              //если номера не нужно скрывать, просто убрать это кнопку
              button.header-phones__toggle(onclick="document.querySelectorAll('.header-phones__toggle').forEach($this=>{$this.remove()});" type="button")
                | Показать 421-23-41
           .header-body__content-right
            .header-user.mobile-hide
              a.header-user__link(href='/account/login/')
                span.icon
                  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="25" viewBox="0 0 30 25" fill="none">
                    <path d="M14.625 13.1964C17.3174 13.1964 19.5 11.0629 19.5 8.43105C19.5 5.79919 17.3174 3.66565 14.625 3.66565C11.9326 3.66565 9.75 5.79919 9.75 8.43105C9.75 11.0629 11.9326 13.1964 14.625 13.1964Z" stroke="#FF5F00" stroke-width="2"/>
                    <path d="M7.5 20.5279C10.0293 14.157 19.313 14.1227 21.75 20.5279" stroke="#FF5F00" stroke-width="2"/>
                |  Войти / Зарегистрироваться
            

          .header-fixed-content
            .header-phones
              //если номера не нужно скрывать, просто убрать это кнопку
              button.header-phones__toggle(onclick="document.querySelectorAll('.header-phones__toggle').forEach($this=>{$this.remove()});" type="button")
                | Показать 443-37-77
              //1 или 2 номера
              .header-phones__inner
                a(href="tel:+79874433777").header-phones__phone +7 987 443-37-77
            a.btn-arrow(data-fancybox='callme-modal-1' data-src='#callme-modal' href='javascript:;') Заказать звонок

      
      
      .catalog-header-content(style='display: none;')
       .container
        ul.catalog-header-content__ul
          li.menu-item
            a(href='/catalog/brevno-ocilindrovannoe/').menu-item__link-hover-color
              span.catalog-header-content__span Бревно оцилиндрованное
              img(src=href+"/img/icons/menu-icon.svg", alt="иконка стрелки").catalog-header-content__icon.catalog-header-content__icon_last
          li.menu-item
            a(href='/catalog/vagonka-i-evrovagonka/').menu-item__link-df-reverse.menu-item__link-hover-line
              span.catalog-header-content__span Вагонка и Евровагонка
              img(src=href+"/img/icons/menu-icon.svg", alt="иконка стрелки").catalog-header-content__icon.catalog-header-content__icon_first
          li.menu-item
            a(href='/catalog/blok-haus/').menu-item__link
              span.catalog-header-content__span  Блок Хаус
              .menu-item-arrow-hover
                img(src=href+"/img/icons/menu-icon.svg", alt="иконка стрелки").catalog-header-content__icon.catalog-header-content__icon_last
          li.menu-item
            a(href='/catalog/imitaciya-brusa/') 
             span.catalog-header-content__span  Имитация бруса
              .menu-item-arrow-hover
          li.menu-item
            a(href='/catalog/doska-pola/') Доска пола
          li.menu-item
            a(href='/catalog/brus-i-doska-suhie-strogannye/') Брус и Доска
          li.menu-item
            a(href='/catalog/derevianniy-dekor/') Деревянный декор
          li.menu-item
            a(href='/catalog/elementy-lestnic/') Элементы лестниц
          li.menu-item
            a(href='/catalog/dveri-i-okna/') Двери и окна
          li.menu-item
            a(href='/catalog/materialy-iz-lipy/') Материалы из липы и абаши
          li.menu-item
            a(href='/catalog/materialy-iz-listvennicy/') Материалы из лиственницы
          li.menu-item
            a(href='/catalog/materialy-ih-osiny-i-abashi/') Материалы из осины
          li.menu-item
            a(href='/catalog/fanera-osb-dsp-dvp-tssp/') Фанера, ОСБ, ДСП, ДВП
          li.menu-item
            a(href='/catalog/utepliteli/') Утеплители
          li.menu-item
            a(href='/catalog/rulonnie-izoliyzionnie-materialy/') Рулонные изоляционные материалы
          li.menu-item
            a(href='/catalog/propitki-dlya-drevesiny/') Пропитки для древесины
          li.menu-item
            a(href='/catalog/derevyannye-igrushki/') Деревянные игрушки
