header(class=header_style=='landing'?'header_landing':'').header_gray.header_rubrikator_gray


  if header_style !== 'landing'
    .header-body
      .container
        .header-body__content
          img(src=href+'/img/logo.svg' alt='Северная Лесная Компания').yellow-logo
          a.catalog-inner-btn
            .burger-catalog
              .burger
            |                             Каталог товаров
          .header-search.mobile-hide.header-search--inner
            input.search_input(name='q' type='text' autocomplete='off' value='' data-search-url='/catalog/search' placeholder='Введите название, артикул, бренд...')
            button
              svg.icon-svg
                use(xlink:href='#search-icon')
            #search-result-container.header-search-results(style='display:none;')
              a.search-result-item(href='/catalog/product/vagonka-lipa-16-kh-90-17m-sort-ab/')
                img(src="https://vagonka-brus-doska.ru/media/vagonkabrus_cache/5b/94/5b94a9e8281ac988e782e500406b353c.jpg", alt="image").search-result-item__image
                .search-result-item__content
                  span.search-result-item__name Вагонка (липа) 16х90мм 1,7м категория АВ
                  span.search-result-item__cost 106,00 ₽/шт.
              a.search-result-item(href='/catalog/product/vagonka-lipa-16-kh-90-3m-sort-bc/')
                .search-result-item__content
                  span.search-result-item__name Вагонка (липа) 16х90мм 3м категория BC
                  span.search-result-item__cost 193,00 ₽/шт.
              a.search-result-item(href='/catalog/product/vagonka-lipa-16-kh-90-17m-sort-ab/')
                  img(src="https://vagonka-brus-doska.ru/media/vagonkabrus_cache/5b/94/5b94a9e8281ac988e782e500406b353c.jpg", alt="image").search-result-item__image
                  .search-result-item__content
                    span.search-result-item__name Вагонка (липа) 16х90мм 1,7м категория АВ
                    span.search-result-item__cost 106,00 ₽/шт.
              a.search-result-item(href='/catalog/product/vagonka-lipa-16-kh-90-3m-sort-bc/')
                .search-result-item__content
                  span.search-result-item__name Вагонка (липа) 16х90мм 3м категория BC
                  span.search-result-item__cost 193,00 ₽/шт.


          .header-body__content-right__wrapper 
           .header-body__content-links 
            a.header-body__content-link пункт меню 1  
            a.header-body__content-link пункт меню 2
           .header-body__content-right
            .header-user.mobile-hide
              a.header-user__link(href='/account/login/')
                span.icon
                  <svg xmlns="http://www.w3.org/2000/svg" width="21" height="17" viewBox="0 0 21 17" fill="none">
                    <path d="M10.2375 9.27271C12.1222 9.27271 13.65 7.77355 13.65 5.92423C13.65 4.07491 12.1222 2.57574 10.2375 2.57574C8.35283 2.57574 6.825 4.07491 6.825 5.92423C6.825 7.77355 8.35283 9.27271 10.2375 9.27271Z" stroke="white"/>
                    <path d="M5.25 14.4242C7.02051 9.94763 13.5191 9.92352 15.225 14.4242" stroke="white"/>
                | Войти
            a.header-cart(href='/cart/')
              i.icon
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="19" viewBox="0 0 22 19" fill="none">
                  <path d="M16.5723 9.7249C18.0784 9.53599 19.25 8.21555 19.25 6.61661C19.25 4.88848 17.8824 3.48277 16.2017 3.48277C14.675 3.48277 13.4109 4.64379 13.1911 6.15129L6.33501 5.30624L5.83435 2.30304H3.3V3.43759H4.90381L5.19164 5.16532L5.16843 5.16249L6.4872 12.6508H6.51497L6.67552 13.3255C5.89419 13.4595 5.29613 14.1577 5.29613 14.9986C5.29613 15.9351 6.03713 16.697 6.94788 16.697C7.85862 16.697 8.59964 15.9351 8.59964 14.9986C8.59964 14.8007 8.56488 14.6116 8.50421 14.4351H13.5451C13.4844 14.6118 13.4494 14.801 13.4494 14.9986C13.4494 15.9351 14.1904 16.697 15.1014 16.697C16.012 16.697 16.753 15.9351 16.753 14.9986C16.753 14.0622 16.012 13.3005 15.1014 13.3005H7.80527L7.65078 12.6508H15.9188L16.5723 9.7249ZM15.1019 14.4351C15.4039 14.4351 15.65 14.6879 15.65 14.9986C15.65 15.3096 15.4039 15.5624 15.1019 15.5624C14.7993 15.5624 14.5534 15.3095 14.5534 14.9986C14.5534 14.6877 14.7995 14.4351 15.1019 14.4351ZM16.2018 4.61754C17.274 4.61754 18.1466 5.5144 18.1466 6.61679C18.1466 7.71925 17.274 8.61611 16.2018 8.61611C15.1295 8.61611 14.2573 7.71925 14.2573 6.61679C14.2573 5.5144 15.1295 4.61754 16.2018 4.61754ZM6.94826 15.5624C6.64593 15.5624 6.40002 15.3095 6.40002 14.9986C6.40002 14.6877 6.64593 14.4351 6.94826 14.4351C7.2506 14.4351 7.4965 14.6879 7.4965 14.9986C7.4965 15.3096 7.2506 15.5624 6.94826 15.5624ZM15.04 11.516H7.40894V11.5163L6.6797 7.37454L6.52944 6.47291L13.2285 7.29872C13.4785 8.45127 14.3471 9.36361 15.4564 9.65178L15.04 11.516Z" fill="white"/>
                  <path d="M16.5 5.18182H15.95V8.06061H16.5V5.18182Z" fill="white"/>
                  <path d="M17.6 6.90907V6.33331H14.85V6.90907H17.6Z" fill="white"/>
              span.cart-number 0

          .header-fixed-content
            .header-phones
              //если номера не нужно скрывать, просто убрать это кнопку
              button.header-phones__toggle(onclick="document.querySelectorAll('.header-phones__toggle').forEach($this=>{$this.remove()});" type="button")
                | Показать 443-37-77
              //1 или 2 номера
              .header-phones__inner
                a(href="tel:+79874433777").header-phones__phone +7 987 443-37-77
            a.btn-arrow(data-fancybox='callme-modal-1' data-src='#callme-modal' href='javascript:;') Заказать звонок

      
      
      .catalog-header-content(style='display: none;')
       .container
        ul.catalog-header-content__ul
          li.menu-item
            a(href='/catalog/brevno-ocilindrovannoe/').menu-item__link-hover-color
              span.catalog-header-content__span Бревно оцилиндрованное
              img(src=href+"/img/icons/menu-icon.svg", alt="иконка стрелки").catalog-header-content__icon.catalog-header-content__icon_last
          li.menu-item
            a(href='/catalog/vagonka-i-evrovagonka/').menu-item__link-df-reverse.menu-item__link-hover-line
              span.catalog-header-content__span Вагонка и Евровагонка
              img(src=href+"/img/icons/menu-icon.svg", alt="иконка стрелки").catalog-header-content__icon.catalog-header-content__icon_first
          li.menu-item
            a(href='/catalog/blok-haus/').menu-item__link
              span.catalog-header-content__span  Блок Хаус
              .menu-item-arrow-hover
                img(src=href+"/img/icons/menu-icon.svg", alt="иконка стрелки").catalog-header-content__icon.catalog-header-content__icon_last
          li.menu-item
            a(href='/catalog/imitaciya-brusa/') 
             span.catalog-header-content__span  Имитация бруса
              .menu-item-arrow-hover
          li.menu-item
            a(href='/catalog/doska-pola/') Доска пола
          li.menu-item
            a(href='/catalog/brus-i-doska-suhie-strogannye/') Брус и Доска
          li.menu-item
            a(href='/catalog/derevianniy-dekor/') Деревянный декор
          li.menu-item
            a(href='/catalog/elementy-lestnic/') Элементы лестниц
          li.menu-item
            a(href='/catalog/dveri-i-okna/') Двери и окна
          li.menu-item
            a(href='/catalog/materialy-iz-lipy/') Материалы из липы и абаши
          li.menu-item
            a(href='/catalog/materialy-iz-listvennicy/') Материалы из лиственницы
          li.menu-item
            a(href='/catalog/materialy-ih-osiny-i-abashi/') Материалы из осины
          li.menu-item
            a(href='/catalog/fanera-osb-dsp-dvp-tssp/') Фанера, ОСБ, ДСП, ДВП
          li.menu-item
            a(href='/catalog/utepliteli/') Утеплители
          li.menu-item
            a(href='/catalog/rulonnie-izoliyzionnie-materialy/') Рулонные изоляционные материалы
          li.menu-item
            a(href='/catalog/propitki-dlya-drevesiny/') Пропитки для древесины
          li.menu-item
            a(href='/catalog/derevyannye-igrushki/') Деревянные игрушки
